*{
    background-color: skyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: blanchedalmond;
    font-weight: 800;
}

label{
    color: whitesmoke;
    font-size: larger;
    font-weight: 200;
}

.right{
    float: right;
}

.left{
    display: inline-block;
}


.square{
    background-color: white;
    border: 1px solid black;
}

.color{
    background-color: cadetblue;
    border: 1px solid black;
}

.gridContainer {
  margin-top: 25px;
  margin-right: 40px;
  display: inline-grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  border: 5px solid black;
  border-radius: 5px;
  height: 575px;
  width: 575px;
}